

:root {
    --color-principal:#2881B8;
    --color-accent: #12679B;
    --color-text: #ffffff;
    --color-link: #9fbc87;
    --color-degrade: linear-gradient(28deg, var(--color-principal) 29%, var(--color-accent) 100%);
    --color-bubble-help: #168ac8;
    --transition-timing: 0.4s ease-in-out;

}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: var(--color-text)
}

a:hover {
    color: var(--color-link);
}
.container {
    width: 21cm;
    height: 29.7cm;
    margin: auto;
    background-color: #f8f8f8;
    box-shadow: 0 0 25px 16px #0009;
    display: flex;
    flex-shrink: 0;
}

body {
    background: radial-gradient(#dddddd 60%, #acabab);
    background-attachment: fixed;
    background-position: center;
    padding: 2cm;
}

html {
    background-color: #bbb;
}

#PP {
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom, var(--color-accent), transparent 60%);
    margin-bottom: -15px;
}

#left-body {
    background-color: var(--color-principal);
    flex: 1;
    height: 100%;
    color: var(--color-text);
  }

#left-body>*:not(img) {
    margin-left: 10px;
    padding-right: 5px;
}

#contact {

    margin: 0 20px;
    padding-top: 5px;
}

#contact li {
    display: flex;
    margin-bottom: 0.2em;
}

#contact li>span {
    margin: auto 0;

}

#left-body p {
    font-style: italic;

}

#left-body h3 {
    margin-top: 20px;
}

#left-body h2 {
    margin-top: 35px;
}

#add:before,#tel:before,#mail:before,#linkedin:before,#git:before  {    
    content: '';
    display: inline-block;
    height: 20px;
    width: 35px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto 0.1em auto -20px;}
#add:before {
    background-image: url(../media/maison.png);
}
#tel:before {
    background-image: url(../media/tel.png);
}
#mail:before {
    background-image: url(../media/mail.png);
}
#linkedin:before {
    background-image: url(../media/linkedin.png);
}
#git:before {
    background-image: url(../media/github.png);
}

h2,
h3 {
    margin: 20px 0 5px 0;
    font-family: 'Merriweather', serif;
}

.trait-left-lit {
    background-color: var(--color-text);
    height: 1.5px;
    width: 60%;
    margin: 10px 10% 10px 2%;
    border-radius: 10px;
}

.trait-left {
    background-color: var(--color-text);
    height: 2.5px;
    width: 80%;
    margin: 5px 10% 10px 10000%;
    border-radius: 10px;
}


#right-body {
    flex: 2;
    padding: 5px 15px;


}

#right-body p {
    margin-top: 10px;
}

#permis-b {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

#logo-car {
    margin-right: 10px;
    stroke: var(--color-principal);
  
}

.patronyme h1 {
    color: var(--color-principal);
    text-align: center;
    font-size: 2.5rem;
    font-weight: bolder;
    width: 490px;
    height: 50px;
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
    color: var(--color-text);
    background: var(--color-degrade);
  
}


#right-body h2 {
    text-align: center;
    color: var(--color-accent);


}

.front-div {
    align-items: center;
    position: relative;
}

#logo-lang-front {
    width: 160px;
    object-fit: contain;
    margin: 15px auto 0;

}

.logo-lang-back {
    width: 60px;
    height: 70px;
    object-fit: contain;
    margin: 5px auto -15px;
}

.comp-title {
    margin-top: -0.1em;
    margin-bottom: 0.3em;
    text-align: center;

}

.front-div,
.back-div,
.network-div,
.divers-div {
    width: 230px;
    height: 100px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 10px;
    color: var(--color-text);
    background: var(--color-degrade);
    margin: 10px 10px 0 0;
  }

.network-div {
    height: 155px;
    border-radius: 0 0 0 15px;
}

.back-div{
    height: 155px;
    align-self: flex-start;
    border-radius: 0 15px 0 0;
    margin-bottom: 10px;
}

.front-div {
    border-radius: 15px 0 0;
}

.divers-div{
    border-radius: 0 0 15px 0;
}

#img-lang {
    display: flex;
    width: 50px;
}

#dev {
    display: flex;
    flex-direction: column;
}

#tab-comp {
    display: flex;
}

#img-back {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

#help {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 18px;
    width: 18px;
    margin: 0 5px 5px 0;

}

#help:hover+.front-bubble {
    visibility: visible;
    opacity: 1;
}
.bubble-global{ 
    background: var(--color-bubble-help);
    color: white;
    padding: 7px 15px;
    border-radius: 3px;
    position: absolute;
    box-shadow: 10px 5px 5px #6f6f6f69;
    visibility: hidden;
    opacity: 0;
    z-index: 51;
    transition: var(--transition-timing);

}
.front-bubble {
    width: 200px;
    top: 101.8%;
    left: 80.5%;
}

.front-bubble::after {
    content: "";
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid var(--color-bubble-help);
    position: absolute;
    bottom: 70%;

}

.back-div {
    position: relative;

}

#help-back {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 18px;
    width: 18px;
    margin: 0 5px 5px 0;

}

#help-back:hover+.back-bubble {
    visibility: visible;
    opacity: 1;
}

.back-bubble {
    width: 250px;
    top: 103.8%;
    left: 80.5%;

}

.back-bubble::after {
    content: "";
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid var(--color-bubble-help);
    position: absolute;
    bottom: 80%;

}


#logi {
    position: relative;
}

#help-logiciels {
    position: absolute;
    bottom: 0;
    right: 30%;
    height: 18px;
    width: 18px;
    margin: 0 10px 7.5px 0;
   

}

#help-logiciels:hover+.logiciels-bubble {
    visibility: visible;
    opacity: 1;
}

.logiciels-bubble {
    width: 250px;
    top: 113%;
    left: 59.6%;

}

.logiciels-bubble::after {
    content: "";
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid var(--color-bubble-help);
    position: absolute;
    bottom: 90%;
}



#divers-ul,
#ul-comp {
    line-height: 1.2em;
    list-style: disc;
    margin-left: 0.8em;
}

#langue,
#loisirs {
    list-style: none;
    line-height: 1.5em;
}

#exp div {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 5px;

}

.date-exp {
    font-style: italic;
    margin: 5px;
}

.exp-eff {
    line-height: 1.3rem;
    list-style: outside;
    margin-left: 2em;
}

#logiciels-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 490px;
    height: 65px;
    border-radius: 8px;
    padding: 10px;
    color: var(--color-text);
    background: var(--color-degrade);
    margin: 5px 0 0 5px;
    align-items: center;



}
#logiciels-title{
    margin-bottom: 10px;
}

.icon-logiciels {
    height: 55px;
    width: 55px;
    object-fit: contain;
}

.slide {
    position: fixed;
    display: flex;  
    top: 0;
    right: 0;
    height: 100%;
    --button-size: 50px;
    --button-space: -15px;
    --transition-timing: 0.5s ease-in-out;
    z-index: 50;


}


label[for="show"] {
    display: flex;
    width: var(--button-size);
    height: var(--button-size);
    margin-right:var(--button-space);
    background-color: var(--color-text);
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    transition: var(--transition-timing);


}
/* Pour attirer l'oeil sur le bouton */
/* animation: fleche-anim var(--background-timing); */

/* @keyframes fleche-anim {
    from{width: var(--button-size);transform: rotate(0deg);
    }
    50%{ width: 90px;height:90px;

    }

} */

label[for="show"]>* {
    margin: auto;
    box-shadow: 5px 5px 5px currentColor;
    transform: rotate(-180deg);

}

.boite {
    float: right;
    display: flex;
    align-items: center;
    margin: auto;
    position: relative;
    left: calc(100% - var(--button-size) - var(--button-space));
    transition: left var(--transition-timing);
}

#show:checked+.boite {
    left: 0;
}

#show:checked+.boite label[for="show"] {
    transform: rotate(180deg);
}

#show:checked+.boite .menu {
    left: 0;
    visibility: visible;
}
.menu {
    background-color: var(--color-principal);
    padding: 25px;
    visibility: hidden;
    border-radius: 10% 0 0 10%;
    transition: visibility var(--transition-timing);
    color: var(--color-text);

}

#change-color>p {
    margin-bottom: 1.2em;
}

.labelling {
    display: flex;
    align-items: center;
    margin-top: .3em;
}

.labelling label {
    margin-left: .5em;
}

.svgColor {
    fill: var(--color-principal);
  
}

.disable {
    margin-top: 15px;
}

#printButton{ 
    position: fixed;
    top: 40px;
    left: 0;
    border-radius: 0 15px 15px 0;
    color: var(--color-text);
    background: var(--color-principal);
    font-size: 1.2em;
    height: 60px;
    width: 170px;
    border: none;
    transition: var(--transition-timing);

}
#printButton:hover{ 
    font-size: 1.3em;
    background: var(--color-accent);
    

}
@media (max-device-width : 900px){

    .container {
        width: 12cm;
        height: 16.5cm;

    }
    h2,h3{
        margin: 12px 0 5px 0;

    }
    #left-body h2{
        margin-top: 15px;
    }
    #left-body{
        font-size: 0.5em;
    }
    #right-body{
        font-size: 0.5em;
    }
    .front-div,  .network-div{
        width: 115px;
        height: 65px;
        margin: 5px 5px 0 0;
      }
      .back-div{
        width: 115px;
        height: 80px;
        margin: 5px 5px 0 0;

      }

      .divers-div{ 
        width: 115px;
        height: 50px;
        margin: 5px 5px 0 0;
      }
    #logo-lang-front {
        width: 90px;
        margin: 10px auto 0;
      }
      .logo-lang-back {
        width: 29px;
        height: 55px;
        margin: -7px auto -15px;
      }
      #ul-comp{ 
        font-size: .9em;
      }
      .patronyme h1 {
        font-size: 1.2rem;
        width: 260px;
        height: 20px;
      }
      #apropos {
        width: 296px;
      }
      #logo-car {
        margin-right: 3px;
        height: 20px;
      }
      #printButton {
        border-radius: 0 5px 5px 0;
        font-size: 0.8em;
        height: 39px;
        width: 110px;
      }
      #printButton:hover {
        font-size: 0.85em;
      }
      .exp-eff {
        line-height: 0.5rem;
      }
      #logiciels-logo {
        width: 270px;
        height: 24px;
        margin: 0;
      }
      #logiciels-title {
        margin-bottom: 8px;
      }
      #exp {
        font-size: 1em;
        line-height: 1.3em;
      }
      #exp li { 
        line-height: 1.3em;
      }
      .icon-logiciels {
        height: 23px;
        width: 23px;
      }
      #help-back,#help{ 
        height: 8px;
        width: 8px;
      }
      #help-logiciels {

        right: 33%;
        height: 8px;
        width: 8px;
        margin: 0 7.5px 3px 0;
      }
      #add::before, #tel::before, #mail::before, #linkedin::before, #git::before {

        height: 13px;
        width: 16px;

      }
      #right-body p {
        margin-top: 0;
    }
    #tab-comp{ 
        margin-left: 5px;
    }
    .slide {
        --button-size: 30px;
        --button-space: -6px;
    }
    }

@media print { 
    :root {
        --color-principal:#2881B8;
        --color-accent: #12679B;
        --color-text: #ffffff;
        --color-link: #9fbc87;
        --color-degrade: linear-gradient(28deg, var(--color-principal) 29%, var(--color-accent) 100%);
        --color-bubble-help: #139ee0;

    }
    @page { 
        margin: 0;
    }

    body {
        print-color-adjust: exact;
        -webkit-print-color-adjust:exact;
        background-color: transparent;
        background: none;
        padding: 0;
        width: 21cm;
        height: 29.67cm;
        overflow: hidden;
    }
    .container{
        box-shadow: none;  
    }
    .slide, #printDiv, .bubble-global,#help-logiciels,#help-back,#help{
        display: none;
    }
    
}
